@media (max-width: 768px){
  nav {
    display: none;
  }
  nav ul li{
    display: block;
    text-align: right;
    padding: 0.5em 0;
  }
  #menu:hover + nav{
    display: inherit;
  }
}

@media (min-width: 769px){
  #menu{
    display: none;
  }
  #wrapper{
    grid-template-columns: 200px 1fr;
  }
  header{
    grid-column: 1 / -1;
  }
  aside{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  footer{
    grid-column: 1 / -1;
  }
}