/* 자손 결합자. outer 클래스 안 모든 li에게 적용 */
.outer li{
  color: olivedrab;
}
/* 자식(1촌) 결합자. 클래스의 직속 자식에만 적용 */
.outer>li{
  color: dodgerblue;
}
.outer>li li{
  text-decoration: underline;
}
/* 뒤따르는 모든 동생들 결합자. (내밑으로 집합) */
.starter~li{
  font-style: italic;
}
/* 뒤따르는 바로 다음 동생 결합자 */
.starter+li{
  font-weight: bold;
}
/* 의사(가상)클래스: 첫 번째, 마지막 요소 */
ol li:first-child, ol li:last-child{
  color: yellowgreen;
}
/* 의사클래스 안에 의사클래스 넣기: ~가 아닌 요소 */
.outer>li:not(:last-child){
  text-decoration: line-through;
}
ul:not(.outer){
  font-weight: bold;
}
/* 의사클래스: n번째 요소 */
ol li:nth-child(3){
  font-weight: bold;
  color: deeppink;
}
ol li:nth-child(even){
  text-decoration: underline;
}
/* 의사클래스: 마우스오버 */
li:hover{
  font-weight: bold;
  color: blue;
}