body{
  font-family: 'pretendard';
  margin: 0px;
}
#container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#header{
  display: flex;
  background-color: dodgerblue;
  flex-basis: 100px;
  padding: 12px;
  align-items: flex-end;
  gap: 12px;
}
#header div{
  background-color: yellow;
  padding: 12px 0;
  text-align: center;
}
#header div:first-child{
  flex-grow: 0;
  flex-basis: 100px;
}
#header div:not(:first-child){
  flex-grow: 1;
}
#main{
  display: flex;
  flex-direction: row;
  flex: 1;  
  justify-content: center;
  align-items: center;
}
#content{
  background-color: cornflowerblue;
  padding: 24px;
}
#footer{
  background-color: tomato;
  flex-basis: 60px;
}